.sub {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    z-index: 100;
    padding: 30px 0 30px;
    width: 1300px;
}

.sub__left {
    display: flex !important;
    padding: 10px !important;
    align-items: center !important;
    justify-content: space-between;
    /* width: 600px !important; */
}

a {
    font: normal 600 16px/24px "Poppins", sans-serif;
    color: var(--headers);
    opacity: 1;
    font-size: 16px;
    text-decoration: none;
    margin-right: 45px;

}

.sub__left>.MuiSvgIcon-root {
    color: #2C6BFF;
    box-shadow: inset 0 0 5px #e5e5e5;
    border-radius: 10px;
}

.sub__right>.MuiSvgIcon-root {
    color: #2C6BFF;
    box-shadow: inset 0 0 5px #e5e5e5;
    border-radius: 10px;
    transform: scale(1.2);
}

.toggle>.MuiSvgIcon-root {
    transform: scale(2.8);
    color: #2C6BFF;
    margin-left: 20px;
}



.sub__right {
    margin: 10px !important;
    align-items: center;
    cursor: pointer;
    display: flex;
    /* flex: 1 10px; */
    justify-content: space-around;
    width: 300px;
    margin-left: 60px;

}

.sub__right>toggle_icon {
    height: 200px;
}