.sidebar {
    box-shadow: var(--shadowSideBar);
    /* box-shadow: 0 4px 8px rgb(0 0 0 / 5%); */
}

.sidebarRow {
    display: flex;
    align-items: center;
    margin: 15px 0px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 15px !important;
    font-style: normal;
    line-height: 24px;
    /* margin-bottom: 30px; */
}

.sidebarRow>h4 {
    margin-left: 20px;
    font-size: 16px;
}

.sidebarRow>img {
    width: 25px;
    height: 28px;
}