.widget {
    align-items: center;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 31px 28px 30px;
    position: relative;
    width: 738px;
    background-color: var(--background);
    /* background-color: white; */
    /* background-color: linen; */
    /* background: #fff; */
    /* box-shadow: 0 4px 8px rgb(0 0 0 / 5%); */
    /* right: 0;
    top: 0; */
}

#tracks_link {
    color: var(--headers);
    /* color: #152c61; */
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 20px 0px;
    text-decoration: none;
}

#continue_link {
    color: #2c6bff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 650;
    line-height: 24px;
    text-align: right;
    text-decoration: none;
}

.widget__section {
    display: flex;
    position: relative;
    right: 7px;
    /* padding: 30px; */
}

.widget>h5 {
    display: flex;
    color: grey;
    /* position: absolute; */
    /* left: 40px; */
    text-transform: capitalize !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin: 30px 0px 0px 5px;
}

.widget_Single {
    padding: 30px;
}

.lesson_image {
    height: 337px;
    /* width: 506px; */
    width: 50%;
}
